@import 'tailwindcss/base';

@layer base {
  html {
    @apply h-full w-full bg-repeat text-neutral-900 antialiased bg-blend-hard-light;
    color-scheme: light;
    background-image: url('/noise.png');
    background-color: hsl(0, 0%, 93%);
  }

  body {
    @apply h-full w-full;
    color: rgb(var(--foreground-rgb));
      background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  }

  #__next {
    @apply h-full w-full;
  }
}
